<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
    
      internalLogFile="c:\temp\nlog\nlog-internal.log">

	<extensions>
		<!-- При необходимости добавьте расширения -->
	</extensions>

	<variable name="appName" value="${gdc:item=appName}" />
	<variable name="logTimestamp" value="${date:format=yyyyMMdd-HH_mm_ss}" />
	<variable name="methodName" value="${callsite:className=false:methodName=true:includeSourcePath=false}" />
	<variable name="logFileName" value="${basedir}/logs/${logTimestamp}_${methodName}_${appName}" />

	<targets async="true">
		<!-- Target для обычных логов (Trace-Warn) -->
		<target name="fileTarget"
				xsi:type="File"
				fileName="${logFileName}.log"
				layout="${longdate} | ${level:uppercase=true} | ${callsite:className=true:methodName=true:includeSourcePath=false} | Line:${callsite-linenumber} | ${message} | ${exception:format=ToString}"
				keepFileOpen="false"
				encoding="utf-8">
		</target>

		<!-- Target для ошибок (Error-Fatal) -->
		<target name="fileTargetErr"
				xsi:type="File"
				fileName="${logFileName}_Err.log"
				layout="${longdate} | ${level:uppercase=true} | ${callsite:methodName=true} | User[${windows-identity}] | Session:${aspnet-sessionid} | Request:${aspnet-request-url} | ${message} | ${when:when=length('${exception}')>0:Inner=${newline}StackTrace: ${exception:format=StackTrace}}"
				keepFileOpen="false"
				encoding="utf-8">
		</target>
	</targets>

	<rules>
		<!-- Правило для логов уровня Trace-Warn -->
		<logger name="*" minlevel="Trace" maxlevel="Warn" writeTo="fileTarget" />

		<!-- Правило для логов уровня Error-Fatal -->
		<logger name="*" minlevel="Error" maxlevel="Fatal" writeTo="fileTargetErr" />
	</rules>
</nlog>