<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      internalLogLevel="off"
      throwExceptions="false"
      throwConfigExceptions="true"
      internalLogFile="%temp%\nlog-specspds-internal.log"
      internalLogToConsole="true">
	<variable name="FinalLevel"
	          value="${gdc:item=LevelMay:whenEmpty=Info}" />
	<variable name="FinalLogsDir"
	          value="${gdc:item=LogsDir:whenEmpty=${nlogdir:dir=logs}}" />
	<variable name="FinalAppTitle"
	          value="${gdc:item=AppTitle:whenEmpty=AppTitle}" />
	<targets>
		<target xsi:type="AsyncWrapper"
		        name="asyncXmlFileLoader"
		        queueLimit="10000"
		        overflowAction="Block"
		        batchSize="500"
		        timeToSleepBetweenBatches="50">
			<target name="xmlFileLoader"
			        xsi:type="File"
			        fileName="${FinalLogsDir}/${shortdate}_${FinalAppTitle}.log"
			        archiveEvery="Day"
			        archiveNumbering="Rolling"
			        archiveFileName="${FinalLogsDir}/${shortdate}_${FinalAppTitle}.{#}.log"
			        maxArchiveFiles="10"
			        keepFileOpen="false"
			        openFileCacheTimeout="10">
				<layout xsi:type="XmlLayout"
				        includeEventProperties="true"
				        indentXML="true"
				        maxRecursionLimit="10"
				        elementName='logevent'>
					<attribute name="time"
					           layout="${longdate}" />
					<attribute name="level"
					           layout="${level:upperCase=true}" />
					<attribute name="logger"
					           layout="${logger}" />
					<attribute name="pid"
					           layout="${processid}" />
					<attribute name="fullName"
					           layout="${processname:fullName=true}" />
					<!-- месадж -->
					<element name="message"
					         value="${message}" />
					<element name="exception"
					         value="${exception:format=ToString}" />
					<!-- процесс -->
					<!-- <attribute name="process" -->
					<!-- layout="${processname}" /> -->
					<!-- тест -->
					<!-- <attribute name="totalmem" -->
					<!-- layout="${gc:property=TotalMemory}" /> -->
					<!-- <attribute name="totalForcemem" -->
					<!-- layout="${gc:property=TotalMemoryForceCollection}" /> -->
					<!-- окружение -->
					<!-- <attribute name="machine" -->
					<!-- layout="${machinename}" /> -->
					<!-- <attribute name="threadId" -->
					<!-- layout="${threadid}" /> -->
					<!-- <attribute name="appDomain" -->
					<!-- layout="${appdomain}" /> -->
					<!-- <attribute name="base" -->
					<!-- layout="${basedir:processDir=true}" /> -->
					<!-- callsite -->
					<!-- <attribute name="class" -->
					<!-- layout="${callsite:className=true}" /> -->
					<!-- <attribute name="method" -->
					<!-- layout="${callsite:methodName=true}" /> -->
					<!-- <attribute name="line" -->
					<!-- layout="${callsite-linenumber}" /> -->
					<!-- тест -->
					<!-- https://github.com/NLog/NLog/wiki/ProcessInfo-Layout-Renderer -->
					<!-- <element name="MainWindowTitle" -->
					<!-- value="${processinfo:property=MainWindowTitle}" /> -->
					<!-- <element name="ProcessName " -->
					<!-- value="${processinfo:property=ProcessName}" /> -->
				</layout>
			</target>
		</target>
	</targets>
	<rules>
		<logger name="*"
		        minlevel="${FinalLevel}"
		        writeTo="asyncXmlFileLoader" />
	</rules>
</nlog>