<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<!-- Регистрируем кастомные targets -->
	<extensions>
		<add assembly="MyPlugin" />
	</extensions>

	<targets>
		<!-- AutoCAD Command Line -->
		<target name="acad"
				xsi:type="AutoCadCommandLine"
				layout="${level:uppercase=true}: ${message}" />

		<!-- Файл (рекомендуется оставить) -->
		<target name="file"
				xsi:type="File"
				fileName="${basedir}/logs/plugin.log"
				layout="${longdate}|${level}|${logger}|${message}|${exception}" />
	</targets>

	<rules>
		<logger name="*" minlevel="Info" writeTo="acad,file" />
	</rules>
</nlog>
