[\Cfg]
[\menu]
[\menu\dRz]
name=sdRz
[\menu\dRz\sep_PlotSPDS];----------------------
[\menu\dRz\PlotSPDS]
name=sPlotSPDS
[\menu\dRz\PlotSPDS\drz_PublishMC]
name=sПубликация СПДС
intername=sdrz_PublishMC
[\menu\dRz\PlotSPDS\drz_PublishPreviewMC]
name=sПредосмотр печати
intername=sdrz_PublishPreviewMC
[\menu\dRz\PlotSPDS\sep1]
[\menu\dRz\PlotSPDS\home]
name=sСправка
intername=sdrz_Home_link
[\menu\dRz\PlotSPDS\news]
name=sЧто нового?
intername=sdrz_News_link
[\menu\dRz\PlotSPDS\discussion]
name=sОбсуждение
intername=sdrz_discussion_link
[\menu\dRz\PlotSPDS\donate]
name=sПоддержать проект
intername=sdrz_donate_link

[\menu\View]
[\menu\View\toolbars]
[\menu\View\toolbars\dRz]
Name=sdRz
[\menu\View\toolbars\dRz\ShowToolbar_PlotSPDS]
Name=sPlotSPDS
InterName=sShowToolbar_PlotSPDS

[\toolbars]
[\toolbars\PlotSPDS]
name=sPlotSPDS
[\toolbars\PlotSPDS\PlotSPDS]
intername=sdrz_PublishMC
[\toolbars\PlotSPDS\drz_PublishPreviewMC]
intername=sdrz_PublishPreviewMC
[\toolbars\PlotSPDS\sep1]
[\toolbars\PlotSPDS\ToolbarButton_1]
Intername=sdrz_Home_link
[\toolbars\PlotSPDS\ToolbarButton_2]
Intername=sdrz_discussion_link
[\toolbars\PlotSPDS\ToolbarButton_4]
Intername=sdrz_News_link
[\toolbars\PlotSPDS\ToolbarButton_3]
Intername=sdrz_donate_link

[\ToolbarsPos]
[\ToolbarsPos\PlotSPDS]
InitialVisible=i1
Row=i1
Pos=i1
DockPosition=sTop

[\ToolbarPopupMenu]
[\ToolbarPopupMenu\dRz]
Name=sdRz
[\ToolbarPopupMenu\dRz\ShowToolbar_PlotSPDS]
Name=sPlotSPDS
InterName=sShowToolbar_PlotSPDS

[\configman]
[\configman\commands]
[\configman\commands\drz_PublishMC]
weight=i0
cmdtype=i0
intername=sdrz_PublishMC
LocalName=sСППУБЛИКАЦИЯ
DispName=sПубликация форматов СПДС
; ToolTipText=sПубликация форматов СПДС
StatusText=sЗапустить публикацию
BitmapDll=sPlotSPDS_Res.dll
Icon=sPLOT
IsUserCommand=f1

[\configman]
[\configman\commands]
[\configman\commands\drz_PublishPreviewMC]
weight=i30
cmdtype=i1
intername=sdrz_PublishPreviewMC
; RealCommandName=sdrz_PublishPreviewMC
LocalName=sСППРЕДОСМОТР
DispName=sПредосмотр публикации СПДС
; ToolTipText=sПубликация форматов СПДС
StatusText=sЗапустить предосмотр
BitmapDll=snewbtns.dll
Icon=spreview
; IsUserCommand=f1


[\configman\commands\home_link]
weight=i0
cmdtype=i0
intername=sdrz_Home_link
DispName=sСправка PlotSPDS
; ToolTipText=sОписание программы
StatusText=sОписание программы, возможности, настройки...
RealCommandName=sshell_exec
Keyword=s"open,https://doctorraz.blogspot.com/2022/10/PlotSPDS.NET.html"
BitmapDll=sPlotSPDS_Res.dll
Icon=sABOUT
[\configman\commands\news_link]
weight=i0
cmdtype=i0
intername=sdrz_News_link
LocalName=sЧто_нового_PlotSPDS
DispName=sЧто нового PlotSPDS
StatusText=sЧто нового в последней версии, изменения и прочая информация
; ToolTipText=sЧто нового в последней версии, обновления и прочая информация
RealCommandName=sshell_exec
Keyword=s"open,https://doctorraz.blogspot.com/p/0.html"
BitmapDll=sPlotSPDS_Res.dll
Icon=srss
[\configman\commands\discussion_link]
weight=i0
cmdtype=i0
intername=sdrz_discussion_link
LocalName=sОбсуждение_PlotSPDS
DispName=sОбсуждение PlotSPDS на форуме
; ToolTipText=sЗадать вопрос или написать пожелание
StatusText=sЗадать вопрос или написать пожелание
RealCommandName=sshell_exec
Keyword=s"open,https://doctorraz.blogspot.com/2022/10/PlotSPDS.NET.html"
BitmapDll=sPlotSPDS_Res.dll
Icon=sdscus
[\configman\commands\donate_link]
weight=i0
cmdtype=i0
intername=sdrz_donate_link
LocalName=sПоддержать_PlotSPDS
DispName=sПоддержать проект PlotSPDS
; ToolTipText=sПрограмма бесплатна но стимул не помешает
StatusText=sПрограмма бесплатна но мотивация лишней не бывает
RealCommandName=sshell_exec
Keyword=s"open,https://doctorraz.blogspot.com/p/blog-page.html"
BitmapDll=sPlotSPDS_Res.dll
Icon=sruble2

[\configman\commands\ShowToolbar_PlotSPDS]
weight=i0
cmdtype=i0
intername=sShowToolbar_PlotSPDS
LocalName=sПанель_публикации_PlotSPDS
BitmapDll=sPlotSPDS_Res.dll
Icon=sPLOT
StatusText=sПоказать/Скрыть панель PlotSPDS
; ToolTipText=sПоказать/Скрыт панель PlotSPDS
DispName=sПоказать/Скрыть панель PlotSPDS

[\Accelerators]
drz_PublishMC=sCtrl+Shift+P

[\ribbon\PlotSPDS_menu]
CUIX=s%CFG_PATH%\PlotSPDS_menu.cuix
visible=f1
