<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      internalLogLevel="Trace"
      throwExceptions="false"
      throwconfigexceptions="true"
      internalLogFile="c:\temp\_SpecSPDS\logs\internal.log"
      internalLogToConsole="true">
	<!--Переменные-->
	<!-- уровень сообщений по быстрому		 -->
	<variable name="LevelMay"
	          value="Trace"/>
	<variable name="maxArchiveFiles"
	          value="10"/>
	<!-- 1024 ^2 * 5 -->
	<variable name="archiveAboveSize"
	          value="5242880"/>
	<!--//Переменные-->
	<!-- ************************* -->
	<!--https://github.com/NLog/NLog/wiki/CsvLayout-->
	<!-- https://github.com/NLog/NLog/wiki/Date-layout-renderer -->
	<!--********** Цели ************-->
	<!--пишем асинхронно-->
	<!-- async="true" -->
	<targets async="true">
		<!--xml для загрузчика-->
		<target name="xmlFileLoader"
		        xsi:type="File"
		        fileName="${nlogdir:dir=logs}/${date:universalTime=true:format=yyyy-MM-dd HH\:mm}_Loader.xml"
		        archiveEvery="Day"
		        archiveAboveSize="${archiveAboveSize}"
		        archiveNumbering="Rolling"
		        archiveFileName="${nlogdir:dir=logs}/${date:universalTime=true:format=yyyy-MM-dd HH\:mm}_Loader.{#}.xml"
		        maxArchiveFiles="${maxArchiveFiles}"
		        keepFileOpen="false">
			<layout xsi:type="XmlLayout"
			        includeEventProperties="true"
			        indentXML="true"
			        maxRecursionLimit="10"
			        elementName='logevent'>
				<attribute name="time"
				           layout="${longdate}"/>
				<attribute name="level"
				           layout="${level:upperCase=true}"/>
				<attribute name="logger"
				           layout="${logger}"/>
				<element name="message"
				         value="${message}"/>
				<element name="error"
				         value="${exception:format=ToString}"/>
				<element name="prop1"
				         layout="${event-properties:prop1}"/>
				<element name="prop2"
				         layout="${event-properties:prop2}"/>
			</layout>
		</target>
		<!--xml для адаптера-->
		<target name="xmlFileAdapter"
		        xsi:type="File"
		        fileName="${nlogdir:dir=logs}/${date:universalTime=true:format=yyyy-MM-dd HH\:mm}_Adapter.xml"
		        archiveEvery="Day"
		        archiveAboveSize="${archiveAboveSize}"
		        archiveNumbering="Rolling"
		        archiveFileName="${nlogdir:dir=logs}/${date:universalTime=true:format=yyyy-MM-dd HH\:mm}_Adapter.{#}.xml"
		        maxArchiveFiles="${maxArchiveFiles}"
		        keepFileOpen="false">
			<layout xsi:type="XmlLayout"
			        includeEventProperties="true"
			        indentXML="true"
			        maxRecursionLimit="10"
			        elementName='logevent'>
				<attribute name="time"
				           layout="${longdate}"/>
				<attribute name="level"
				           layout="${level:upperCase=true}"/>
				<attribute name="logger"
				           layout="${logger}"/>
				<element name="message"
				         value="${message}"/>
				<element name="error"
				         value="${exception:format=ToString}"/>
				<element name="prop1"
				         layout="${event-properties:prop1}"/>
				<element name="prop2"
				         layout="${event-properties:prop2}"/>
			</layout>
		</target>
	</targets>
	<!--Правила-->
	<rules>
		<logger name="dRz.Loader*"
		        minlevel="${LevelMay}"
		        writeTo="xmlFileLoader"
		        final="true"/>
		<logger name="*"
		        minlevel="${LevelMay}"
		        writeTo="xmlFileAdapter"/>
	</rules>
</nlog>
<!--help-->
<!--Parser-->
<!--<logevent time="%d{yyyy-MM-dd %H:mm:ss.ffff}" level="%p">
<message>%m{message}</message>
<error> %S{error}</error>
<prop1> %S{prop1}</prop1>
<prop2> %S{prop2}</prop2>
</logevent>-->
<!-- Fatal -->
<!-- Error -->
<!-- Warn -->
<!-- Info -->
<!-- Debug -->
<!-- Trace -->