<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      internalLogLevel="off"
      throwExceptions="false"
      throwConfigExceptions="true"
      internalLogFile="%temp%\nlog-specspds-internal.log"
      internalLogToConsole="true">
	      
	<variable name="FinalLevel"
	          value="${gdc:item=LevelMay:whenEmpty=Debug}"/>
	<variable name="FinalLogsDir"
	          value="${gdc:item=LogsDir:whenEmpty=${nlogdir:dir=logs}}"/>
	<variable name="FinalAppTitle"
	          value="${gdc:item=AppTitle:whenEmpty=AppTitle}"/>
	<targets>
		<target xsi:type="AsyncWrapper"
		        name="asyncXmlFileLoader"
		        queueLimit="10000"
		        overflowAction="Block"
		        batchSize="500"
		        timeToSleepBetweenBatches="50">
			<target name="xmlFileLoader"
			        xsi:type="File"
			        fileName="${FinalLogsDir}/${shortdate}_${FinalAppTitle}.log"
			        archiveEvery="Day"
			        archiveNumbering="Rolling"
			        archiveFileName="${FinalLogsDir}/${shortdate}_${FinalAppTitle}.{#}.log"
			        maxArchiveFiles="10"
			        keepFileOpen="false"
			        openFileCacheTimeout="10">
				<layout xsi:type="XmlLayout"
				        includeEventProperties="true"
				        maxRecursionLimit="10"
				        elementName='logevent'>
					<attribute name="time"
					           layout="${longdate}"/>
					<attribute name="level"
					           layout="${level:upperCase=true}"/>
					<attribute name="logger"
					           layout="${logger}"/>
					<attribute name="pid"
					           layout="${processid}"/>
					<element name="message"
					         value="${message}"/>
					<element name="error"
					         value="${exception:format=ToString}"/>
				</layout>
			</target>
		</target>
	</targets>
	<rules>
		<logger name="*"
		        minlevel="${FinalLevel}"
		        writeTo="asyncXmlFileLoader"/>
	</rules>
</nlog>