<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      throwConfigExceptions="true">
	<!-- internalLogToConsole="true" -->
	<!-- internalLogFile="%temp%\nlog-drzTools-internal.log" -->
	<!-- internalLogLevel="off" -->
	<!-- Базовые переменные (могут быть переопределены из кода) -->
	<variable name="AppTitle"
	          value="AppTitle"/>
	<variable name="InternalLogLevel"
	          value="Off"/>
	<variable name="LogsDir"
	          value="${nlogdir:dir=logs}"/>
	<variable name="LevelMay"
	          value="Trace"/>
	<targets>
		<target xsi:type="AsyncWrapper"
		        name="asyncXmlFileLoader"
		        queueLimit="10000"
		        overflowAction="Block"
		        batchSize="500"
		        timeToSleepBetweenBatches="50">
			<target name="xmlFileLoader"
			        xsi:type="File"
			        fileName="${var:LogsDir}/${shortdate}_${var:AppTitle}.log"
			        archiveEvery="Day"
			        archiveNumbering="Rolling"
			        archiveFileName="${var:LogsDir}/${shortdate}_${var:AppTitle}.{#}.log"
			        maxArchiveFiles="10"
			        keepFileOpen="false"
			        openFileCacheTimeout="10">
				<layout xsi:type="XmlLayout"
				        includeEventProperties="true"
				        indentXML="true"
				        maxRecursionLimit="10"
				        elementName='logevent'>
					<attribute name="time"
					           layout="${longdate}"/>
					<attribute name="level"
					           layout="${level:upperCase=true}"/>
					<attribute name="logger"
					           layout="${logger}"/>
					<attribute name="pid"
					           layout="${processid}"/>
					<attribute name="fullName"
					           layout="${processname:fullName=true}"/>
					<!-- месадж -->
					<element name="message"
					         value="${message}"/>
					<element name="exception"
					         value="${exception:format=ToString:innerFormat=ToString:maxInnerExceptionLevel=10}"/>
				</layout>
			</target>
		</target>
	</targets>
	<rules>
		<logger name="*"
		        minlevel="${var:LevelMay}"
		        writeTo="asyncXmlFileLoader"/>
	</rules>
</nlog>
<!-- archiveAboveSize="5242880" 5 Mb-->